* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

body > section { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
header p {
  font-size: 1.4em;
  margin: 0 20px;
  text-align: center;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}
.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
  cursor: pointer;
}
.pad1 {
  background: #60d394;
}
.pad2 {
  background: #d36060;
}
.pad3 {
  background: #c060d3;
}
.pad4 {
  background: #d3d160;
}
.pad5 {
  background: #606bd3;
}
.pad6 {
  background: #60c2d3;
}

.visual > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

.settings {
  top:30px;
  right:30px;
  position: absolute;
  width:24px;
  cursor: pointer;
}

.settings .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  right: 0px;
  z-index: 1;
  font-size: 13px;
}

.settings:hover {
  filter: brightness(85%);
}

.settings:hover, .settings:hover .tooltip {
  visibility: visible;
}

.keys {
  position: relative;
}

.keys input {
  padding:0px 5px;
  width:50%;
  text-align: center;
}

.keys ul {
  list-style-type: none; 
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(15px, auto);
}
.keys ul li {
  display:flex;
  justify-content: flex-end;
  font-size: 0.9em;
}

.keys ul li div:nth-child(1) {
  padding:0px 3px;
}

.keys ul li div:nth-child(2) {
  display:none;
}


.keys ul li div {
  min-height: 20px;
  justify-content: center;
  display: flex;
  max-width: 88px;
  min-width: 88px;
}

.keys h4 {
  margin: 20px 0px;
}


.btn {
  opacity: 0;
  position: absolute;
  right: 23px;
  bottom: -45px;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;

 
}

.btn.hide { 
 animation: hideButton 1s forwards;
}

.btn.show { 
  animation: showButton 1s forwards;
  cursor: pointer;
 }

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0; 
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}



@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 35%;
    left: 50%;
  }

  100% {
    bottom: 00%;
    left: 80%;
  }
}


@keyframes showButton {
  0% {
    right: 23px;
    bottom: -100%;
    opacity: 0;
  }

  100% {
    right: 23px;
    bottom: -45px;
    opacity: 1;
  }
}

@keyframes hideButton {
  0% {
    right: 23px;
    bottom: -45px;
    opacity: 1;
  }
  
  100% {
    right: 23px;
    bottom: -105px;
    opacity: 0;
  }
}
